<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<appSettings>
		<add key="Folder_in" value="C:\Profit_Receive\" />
		<add key="CxtoBI_pwd" value="Bi123456" />
		<add key="CxtoBI_address_link" value="https://my356085.crm.ondemand.com/sap/c4c/odata/cust/v1/bi_address/Address_RootCollection?$format=json" />
		<add key="CxtoBI_folder_out" value="C:\SFTP\SAP_Cx\Cx_Out\" />
		<add key="CxtoBI_member_link" value="https://my356085.crm.ondemand.com/sap/c4c/odata/cust/v1/bi_member/MemberPointRootCollection?$format=json" />
		<add key="CxtoBI_memberpoint_link" value="https://my356085.crm.ondemand.com/sap/c4c/odata/cust/v1/bi_memberpoint/MemberPointRootCollection?$format=json" />
		<add key="CxtoBI_memberpoint_adj_link" value="https://my356085.crm.ondemand.com/sap/c4c/odata/cust/v1/bi_pointadjustment/PointAdjustmentRootCollection?$format=json" />
		<add key="CxtoPOS_username" value="__POS" />
		<add key="CxtoPOS_pwd" value="Pos123456" />
		<add key="CxtoPOS_member_link" value="https://my356085.crm.ondemand.com/sap/c4c/odata/cust/v1/member/MemberPointRootCollection?$format=json" />
		<add key="CxtoPOS_folder_out" value="C:\SFTP\SAP_Cx\Cx_Out\" />
		<add key="CxtoPOS_memberblockcard_link" value="https://my356085.crm.ondemand.com/sap/c4c/odata/cust/v1/memberblockcard/MemberPointRootCollection?$format=json" />
		<add key="CxtoPOS_voucherdenomination_link" value="https://my356085.crm.ondemand.com/sap/c4c/odata/cust/v1/voucherdenomination/VoucherDenominationRootCollection?$format=json" />
		<add key="CxtoPOS_voucher_link" value="https://my356085.crm.ondemand.com/sap/c4c/odata/cust/v1/voucher/VoucherRootCollection?$format=json" />
		<add key="POStoCx_folder_in" value="C:\SFTP\SAP_Cx\" />
		<add key="POStoCx_SKU_Batch_link" value="https://my356085.crm.ondemand.com/sap/c4c/odata/cust/v1/product/$batch" />
		<add key="POStoCx_folder_backup" value="C:\Cx_Profit_Receive\backup\" />
		<add key="POStoCx_Devision_Batch_link" value="https://my356085.crm.ondemand.com/sap/c4c/odata/cust/v1/division/$batch" />
		<add key="POStoCx_Department_Batch_link" value="https://my356085.crm.ondemand.com/sap/c4c/odata/cust/v1/department/$batch" />
		<add key="POStoCx_Class_Batch_link" value="https://my356085.crm.ondemand.com/sap/c4c/odata/cust/v1/product/$batch" />
		<add key="POStoCx_SubClass_Batch_link" value="https://my356085.crm.ondemand.com/sap/c4c/odata/cust/v1/product/$batch" />
		<add key="POStoCx_SaleTypeA_Batch_link" value="https://my356085.crm.ondemand.com/sap/c4c/odata/v1/c4codataapi/$batch" />
		<add key="POStoCx_SaleTypeB_Batch_link" value="https://my356085.crm.ondemand.com/sap/c4c/odata/cust/v1/bill/CustomerQuoteCollection" />
		<add key="POStoCx_SaleTypeC_Batch_link" value="https://my356085.crm.ondemand.com/sap/c4c/odata/cust/v1/bill/$batch" />
		<add key="POStoCx_VoucherRedeemed_Batch_link" value="https://my356085.crm.ondemand.com/sap/c4c/odata/cust/v1/bill/$batch" />
		<add key="POStoCx_username" value="__POS" />
		<add key="POStoCx_pwd" value="Pos123456" />
	</appSettings>
</configuration>