<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
	<appSettings>
		<add key="FileConfig" value="C:\FPTGetFile\Config\MaxTime_Pop.csv" />
		<add key="FileConfig2" value="C:\FPTGetFile\Config\MaxTime_Pop_Master.csv" />
		<add key="DirectoryFrom" value="\\10.121.2.207\NFSUAT\vnmuat\download\fpt_bi\pop_system" />
		<add key="DirectoryFrom2" value="\\10.121.2.207\NFSUAT\vnmuat\download\fpt_bi\master\backup" />
		<add key="FileConfig_PRD" value="C:\FPTGetFile\Config\MaxTime_Pop_PRD.csv" />
		<add key="FileConfig2_PRD" value="C:\FPTGetFile\Config\MaxTime_Pop_Master_PRD.csv" />
		<add key="DirectoryFrom_PRD" value="\\10.121.2.207\NFS\production\vnm\download\fpt_bi\pop_system" />
		<add key="DirectoryFrom2_PRD" value="\\10.121.2.207\NFS\production\vnm\download\fpt_bi\master\backup" />
		<add key="FPTHost" value="139.180.214.252" />
		<add key="FPTPort" value="22" />
		<add key="FPTUser" value="fptsftpuser" />
		<add key="FPTPwd" value="Fptsftp*2021" />
		<add key="AzureHost" value="20.247.98.235" />
		<add key="AzurePort" value="22" />
		<add key="AzureUser" value="fptsftpuser" />
		<add key="AzurePwd" value="Fptsftp*2021" />
	</appSettings>
</configuration>
